.blog-sec .blog-box2 {
    margin-bottom: 20px;
    box-shadow: 0 0 6px #C7C7C7;
    border-radius: 10px;
    overflow: hidden;
}

.blog-sec .blog-box2 .blo-img{
    height: 450px;
    overflow: hidden;
}

.blog-sec .blog-box2 .blo-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.blog-dtl-txt {
    padding: 26px;
    border: 1px solid #F1F1F1;
}

.event-sechudle {
    margin: 0;
    display: inline-block;
    width: 100%;
}

.blog-sec .blog-box2 .date {
    width: 55px;
    height: 55px;
    text-align: center;
    background-color: #cab16f;
    float: left;
    margin-right: 12px;
}

.date h4{
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding: 0;
}

.date h4 span {
    font-size: 14px;
    font-weight: 400;
    display: block;
}

.event-sechudle h3 {
    font-size: 29px;
    font-weight: 600;
    color: #3e3e3e;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.blog-dtl-txt p {
    font-size: 16px;
    color: #737373;
    margin: 15px 0 0;
    padding: 0;
    line-height: 24px;
}

.blog-dtl-txt ul {
    margin: 15px 0 0;
    padding: 0;
}

.blog-footr-prt {
    margin: 15px 0 0;
}

.blog-footr-prt .blog-social {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.blog-footr-prt .blog-social li{
    margin: 0 5px;
    list-style: none;
    
}

.blog-footr-prt .blog-social li i{
    color: #A0A0A0;
}

.blog-footr-prt .blog-social a{
    display: inline-block;
}


.blog-dtl-txt p {
    font-size: 16px;
    color: #737373;
    margin: 15px 0 0;
    padding: 0;
    line-height: 24px;
}

.blog-details-inner{
    list-style: none;
}

.blog-sec{
    padding: 50px 0;
}



/* button */



/* .auth-btn-wrap{
    text-align: center;
}

.auth-btn{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
} */
  

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .auth-btn-wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .auth-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #5151d5;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .auth-btn:hover {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.1);
  }
  
  .auth-btn:active {
    transform: scale(0.95);
  }
  
  .auth-btn-wrap button:nth-child(2) {
    background-color: #e74c3c;
    color: white;
  }
  
  .auth-btn-wrap button:nth-child(2):hover {
    background-color: #c0392b;
    transform: rotate(10deg);
  }
  
  
