body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blog-wraps{
  padding: 40px 0;
}


/* Create.css */

/* Create.css */

.file-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload {
  height: 90px; /* Adjusted height */
  width: 120px; /* Adjusted width */
  border-radius: 20px; /* Adjusted border radius */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF; /* Adjusted border width */
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFFFFF;
  font-size: 16px; /* Adjusted font size */
}

.file-upload input[type=file] {
  height: 90px; /* Adjusted height */
  width: 120px; /* Adjusted width */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.file-upload:hover {
  background-position: 0 -100%;
  color: #2590EB;
}


.submit-btn{
  margin-top: 15px;
    width: 100%;
    height: 50px;
    background-color: #007bff ;
    outline: none;
    border: solid #fff;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
}

.submit-btn:hover {
  background-color: #0056b3; /* Change to a slightly darker shade on hover */
  transform: scale(1.05); /* Scale the button slightly on hover */
}

